ul {
    padding:0px;
    list-style:none;
    margin-top: 50vh;
    margin-right: 5vw;
}

li {
    display: inline;
    color: #5d5d78;
    cursor: pointer;
    margin-left: 5vw;
}

.selected {
    color: #fafbff;
    border-bottom: 1px solid #fafbff;
}

